.super-mario {
    width: 200px;
    position:absolute;
    top: 245px;
    left: 300px;
    z-index:5;
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    top: 502px;
    left: 400px;
    z-index:5;
  }
  
  .baloon {
    position:absolute;
    left: 392px;
    top: 89px;
    z-index:2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 130px;
    left: 408px;
    z-index:3;
  }
  
  .bowser {
    width: 600px;
    position:absolute;
    top: 200px;
    left:600px;
    z-index:1;
  }